body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #00c6ff, #0072ff);
  margin: 0;
  padding: 0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.card {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
  display: inline-block;
  min-width: 200px;
}

.text {
    font-size: 60px;
    line-height: 1.05;
    font-weight: 600;
    letter-spacing: -0.015em;
    font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    background: #1d1d1f;
    background-clip: text;
    -webkit-text-fill-color: rgba(0, 0, 0, 0);
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    background-image: linear-gradient(129deg, #E83273, #E43240, #DC4C24, #BD271A, #991E2F);
    display: block;
    font-weight: bold;
    unicode-bidi: isolate;
}